@import './index.css';

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.content {
  position: relative;
  min-width: 60vw;
  min-height: 95vh;
  padding: 20px;
}

.image-bg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.content-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  z-index: 51;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}

.arrow-clockwise {
  position: absolute;
  z-index: 3;
  left: 40px;
  top: 80px;
  cursor: pointer;
}

.content-error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1;
  margin-bottom: 15px;
}

.button-main {
  border: none;
  position: relative;
  min-width: 100px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--main-color);
}

.button-main:hover, .button-main:disabled {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 700px) {
  .content {
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
  }

  .button-main {
    min-width: 50px;
  }
}
