@import './index.css';

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.content {
  min-width: 60vw;
  min-height: 95vh;
  background-color: var(--content-bg-color);
  border-radius: 60px;
}
