@import './index.css';

.content-cards {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.title {
    position: relative;
}

.line {
    position: relative;
    height: 0.5px;
    background-color: var(--main-color);
}

.card-temp {
    position: relative;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 700px) {
    .content-cards {
        overflow: auto;
    }
    .card-temp {
        display: flex;
        min-width: 30%;
        flex-direction: column;
    }
}
